*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	background-color: #111315;
	height: 190vh;
}

.header{
	position: absolute;
	width: 100%;
	}

.header .imagen{
	width: 100%;
}

.contBotones{
	margin-top: 10px;
	padding: 10px;
}

.contenedorPrincipal{
	width: 300px; 
	margin: auto; 
	text-align: center; 
	padding: 20px; 
	border-radius: 5%;
	width: 75%;
	background-color: #1B1D1F;
	position: relative;
	z-index: 1;
	top: 200px;
}

.texto{
	color: #FEF7EE; 
}

.texto2{
	color: #6F757C;
	width: 70%;
	margin-left: 15%;
}

.boton {
	display: inline-block;
	padding: 10px 20px;
	border: 0px solid none;
	border-radius: 5%;
	background-color: #1B1D1F;
	color: #FEF7EE;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.boton:active {
	background-color: #6F757C;	
}

.textoCard{
	color: black
}

.card{
	background-color: #1B1D1F;
}



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "Lexend", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #393232;
}

img {
	max-width: 100%;
	display: block;
}

.product_section{
	background-color: white;
	width: 510px;
	margin: 30px auto;
	padding: 24px;
	min-height: 400px;
	border-radius: 16px;

}

.products_container{
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
	margin-top: 30px;
}


.product {
	width: 80%;
	max-width: 350px;
}

.card {
	background-color: #1B1D1F;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;
	color: #FFF;
	&:hover, &:focus-within {
		box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
			transform: translatey(-5px);
	}
}

.card-image {
	border-radius: 10px;
	overflow: hidden;
	/* width: 300px;
	height: 200px; */
	object-fit: cover;
}

.card-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 1.25;
		padding-right: 1rem;
		text-decoration: none;
		color: inherit;
		will-change: transform;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
	
	
}

.icon-button {
	border: 0;
	background-color: #fff;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	transition: .25s ease;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
	z-index: 1;
	cursor: pointer;
	color: #565656;
	
	svg {
		width: 1em;
		height: 1em;
	}
	&:hover, &:focus {
		background-color: #EC4646;
		color: #FFF;
	}
}

.card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.25rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-meta {	
	display: flex;
	align-items: center;
	color: #787878;
	&:first-child:after {
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: currentcolor;
		margin-left: .75rem;
		margin-right: .75rem;
	}
	svg {
		flex-shrink: 0;
		width: 1em;
		height: 1em;
		margin-right: .25em;
	}
}

@media (min-width: 760px){
	.product_section{
		width: 740px;
	}
}

@media (min-width: 990px){
	.product_section{
		width: 970px;
	}
}